/* CSS Document */
#vsetko{
  max-width:1024px;
  min-width:480px;
  margin:auto;
  text-align:left;
}

/*hlavicka-header*/

header{
  float:left;
  max-width:1024px;
  min-width:480px;
  
}

#logo{
  float:left;
  margin:10px;
}

#links{
  float:right;
  width:780px;
  height:185px;
  margin-top:0px;
  text-align:right;
  background-color:lightblue;
  padding-right:5px; 
}

.headerlink{

}
                                                                           
/*menu*/

nav{float: left;
  width: 1024px;
  height: auto;
  padding-bottom: 15px;
  
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
  border: 1px solid #e7e7e7;
}

li {
  float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ddd;
}

.active {
  background-color: #4CAF50;
  color: white;
}

#cssmenu{}

/*end of menu*/
#main{
  width:100%;
  height:auto;
}
/*aside*/
aside{
  float: right;
  width: 280px;
  padding-right:20px;
  background-color:lightyellow;
}

/*article*/
article{
  float: both;
  width: 724px;
  text-align: justify;
  background-color: lightgreen;
}

footer{
clear:both;
background-color:purple;}

#welcome p {
 padding-left:5px;
 padding-right:10px;
}
welcome span {
text-align:center;
}