/* CSS Document */
body{
  margin: 0 auto;
  max-width:1040px;
  min-width:300px;
}

.wrapper{
  width:100%;
  margin:auto;
  text-align:left;
}

/*header*/

header{
  float:left;
  width:100%;
  height: 180px;
  padding:10px 0 10px 0;
  background-color:#ddd;                   /* do something with this color! */  
}

header img{
  float:left;
  max-width:100%;
  height:auto;
  margin:10px;
}

.headerLeft{
  float:right;
  width: auto;
  margin:0 10px;
  text-align:right; 
}
                                                                           
/*menu*/

nav{
  float: left;
  width: 100%;
  height: auto;
  text-align: center;
}

ul.cssmenu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ccc;
  border: 1px solid #e7e7e7;
  overflow: hidden;
}

ul.cssmenu li {
  float: left;
  padding-right:0;
}

ul.cssmenu li a {
    padding: 14px 16px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

ul.cssmenu li a:hover {
  background-color: #999;
}

ul.cssmenu .active {
  background-color: #990099;
}

/* main */
.main{
  float:left;
  width:96%;
  min-height: 350px;
  padding: 2%;
  background-color: #ddd;
  display:flex;
  flex-flow: row-reverse wrap;                /* do something with this color! */
}

.main article{
  flex:2.5; }
.main aside{
  flex:1;}  

/*aside*/
aside{
  float: right;
  width: 180px;
  height: auto;
  padding: 10px;
  background-color: #f3f3f3;
  border: solid #ccc 1px;
  border-radius: 4px;
  text-align: justify;
}

/*article*/
article{
  width: auto;
  padding: 2%;
  margin-right: 20px;
  background-color: #f3f3f3;
  border: solid #ccc 1px;
  border-radius: 4px;
  text-align: justify;
}



/*footer*/
footer{
  clear:both;
  width:100%;
  background-color: #990099;
}


/*text styling*/
h1, h2, h3{text-align: center;}

aside span{
  font-weight: bold;
  font-size: 20px;
}

#welcome p {
 padding-left:5px;
 padding-right:10px;
 text-align: center;                                   /*justify????*/ 
}

#registration{
  text-align:center;}

#registration form{
  padding-right:35%;
  text-align:right;
}

#search form{
  text-align: right;
  margin-right: 30%;
}






/*buttons styling*/

.button{
  padding: 10px 27px;
  margin: 4px 2px;  
  background-color: #990099;                                   /* looook at the buttons!!!! */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: "Times New Roman";
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius:6px;
}

.headerLeft .button{                                   /*heeeeeere fix the buttonssss*/
  padding: 10px 27px;
  font-size: 16px;
  font-family: "Times New Roman";    
}

button{
  padding: 10px 27px;
  margin: 4px 2px;  
  background-color: #990099;                                   /* looook at the buttons!!!! */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: "Times New Roman";
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius:6px;  
}
button #loginBtn{
  padding: 5px 13px;
  border-radius:4px;  
}

/* dashboard accordion */
button.accordion{
  width: 100%;
  padding: 18px;
  background-color: #ccc;
  border: 1px solid #e7e7e7;
  color: white;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
  outline: none;                          
  transition: 0.4s;  
}

button.accordion.active, button.accordion:hover {
    background-color: #990099; 
}

div.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    max-height: 0px;
    overflow: hidden;
    opacity:0;
}

div.panel.show {
  /*  display: block;  */
  opacity: 1;
  max-height: 500px;
}


/* input styling*/
input [type=button], input[type=submit], input[type=reset]{
  padding: 5px 13px;
  margin: 4px 2px;
  background-color: #990099;                                   /* looook at the buttons!!!! */
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border-radius:4px;
}

aside input[type="search"]{
  width: 100%;
  padding: 12px 20px 12px 40px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url(searchicon.png);
  background-position: left center; 
  background-repeat: no-repeat;
  
}

/*responsive- smaller screens*/

@media screen and (max-width:786px){  
  header{
    height:140px;
  }
  header img{
    width:200px;
  }
                            /* wefdfddddddddd figure out font sizes and so on...*/
  article{
    margin-right:10px; 
  }
}

@media screen and (max-width:545px){
  header{
    height:100px;
  }
  header img{
    width:150px;
  }
  ul.cssmenu li{
  float:none;
  } 
  aside{
    display:none;
  }  
}
