/* CSS Document */
body{
  margin: 0 auto;
}

.wrapper{
  width:900px;
  margin:auto;
  text-align:left;
}

/*header*/

header{
  float:left;
  width:100%;
  background-color:#ddd;                   /* do something with this color! */
  min-height: 253px;
}

#logo{
  float:left;
  margin:10px;
}

#links{
  float:right;
  width: 600px;
  height:185px;
  margin-top:0px;
  text-align:right;
  padding-right:5px; 
}

#links .button{                                   /*heeeeeere fix the buttonssss*/
  padding: 10px 27px;
  font-size: 16px;  
}
                                                                           
/*menu*/

nav{float: left;
  width: 100%;
  height: auto;
  padding-bottom: 15px;
  text-align: center;
  
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ccc;
  border: 1px solid #e7e7e7;
}

li {
  float: left;
  padding-right:20px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
  background-color: #999;
}

.active {
  background-color: #990099;
}



/*end of menu*/

h1{text-align: center;}

#main{
  width:96%;
  padding: 2%;
  float:left;
  background-color: #ddd;
  min-height: 300px;               /* do something with this color! */
}

/*aside*/
aside{
  float: right;
  width: 180px;
  margin-left:15px;                                 /*check the padding and sizes and so on...*/ 
  background-color: #f3f3f3;
  border: solid #ccc 1px;
  text-align: justify;
}

/*article*/
article{
  float: left;
  width: 650px;
  text-align: justify;
  background-color: #f3f3f3;
  border: solid #ccc 1px;
}



/*footer*/
footer{
  clear:both;
  width:900px;
  background-color: #990099;
}


/*text styling*/
#welcome p {
 padding-left:5px;
 padding-right:10px;
 text-align: center;                                   /*justify????*/ 
}










.button{
  background-color: #990099;                                   /* looook at the buttons!!!! */
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}