{% extends "GfLib/base.html" %}
{% load i18n %}

  
  {% block main %}       
      <section>         
         <div class="registration"> 
          <h1>{% trans "Registration" %}</h1>
          
          <p>{% blocktrans %} It is fast and free. </p>
          {% endblocktrans %}</p>
          <form method = "POST">
            {% csrf_token %}    
            {{ form.as_p }} 
            <input type = "submit" value = "Submit" />
            <input type = "reset" value = "Clear" />        
          </form>
          
         </div>
      </section>   
  {% endblock %}
      
      