<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="utf-8">
    <title>Genovefa's library</title>
    
    <link rel="shortcut icon" href="" >
    <meta name="author" content="Natáia Rakovská" lang="sk">
    <meta name="keywords" content="book, library, online library">
    <meta name="description" content="Online library, so no book is forgetten">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="css/style.css" media="all">
  </head>
  <body>
    <div id="vsetko">
      <!-- hlavicka -->
      <header>
          <div id="logo">
            <img src="img/logo.png" alt="Logo of the company">
          </div>
           <div id="links">
            <div class="headerlink"> <a herf="login.html"><span>Login</span></a></div>
            <div class="headerlink"> <a herf="register.html">Register</a></div>
           </div> 
         <!-- <div id="nadpis">          </div> -->
      </header>
      
      <!-- navigacia -->
       <nav>
       <div id='cssmenu'>
          <ul>
            <li class='active'><a href="index.html"><span>Home</span></a></li>
            <li class='last'><a href="dashboard.html"><span>Dashboard</span></a></li>           
            <li class='has-sub'><a href="search.html"><span>Search</span></a></li>
            <li class='last'><a href="statistics.html"><span>Statistics?</span></a> </li>
            <li class='last'><a href="contacts.html"><span>Contacts</span></a>  </li>
            <li class='last'><a href="help.html"><span>Help</span></a>  </li>
          </ul>
         </div>
       </nav>
      
      
      
      <!-- obsah -->
      
      <aside>
      sdfjskffg
      </aside> 
      <article>
      <h1>Contacts</h1>
      
      <h3>Opening hours</h3>
                
      <table border="0" cellspacing="1" cellpadding="5">     
        <tr> 
          <td>Po-Pia:</td>
          <td>9:00</td>
          <td>-</td>
          <td>18:00</td>
        </tr>
        <tr> 
          <td>So:</td>
          <td>9:00</td>
          <td>-</td>
          <td>13:00</td>
        </tr>
      </table> 
        
        
        
        
      <h3>Adress</h3>
        <p>Arabeska, s.r.o.<br />
          Fedákova 26<br />
          841 02 Bratislava<br />
        </p>
     
      <h3>Email</h3>
      <p></p>
      </article>
      
      <!-- paticka -->
     <footer>  <p>Copyright ©Natália Rakovská 2016</p> </footer> 
    
    </div>
  </body>
</html>