<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="utf-8">
    <title>Genovefa's library</title>
    
    <link rel="shortcut icon" href="" >
    <meta name="author" content="Natáia Rakovská" lang="sk">
    <meta name="keywords" content="">
    <meta name="description" content="Online library, so no book is forgetten">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="vsetko">
      <!-- hlavicka -->
      <header>
          <div id="logo">
          </div>
         <!-- <div id="nadpis">
          
          </div> -->
      </header>
      
      <!-- navigacia -->
       <nav>
       <div id='cssmenu'>
          <ul>
            <li class='active'><a href="index.html"><span>Home</span></a></li>
            <li class='last'><a href="dashboard.html"><span>Dashboard</span></a></li>           
            <li class='has-sub'><a href="search.html"><span>Search</span></a></li>
            <li class='last'><a href="stats.html"><span>Statistics?</span></a> </li>
            <li class='last'><a href="contacts.html"><span>Contacts</span></a>  </li>
            <li class='last'><a href="help.html"><span>Help</span></a>  </li>
          </ul>
         </div>
       </nav>
      <!-- obsah -->
      <aside>
      </aside> 
      <article>
      </article>
       
    </div>
    
  </body>
</html>