<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Genovefa's library</title>
    
    <link rel="shortcut icon" href="" >
    <meta name="author" content="Natáia Rakovská" lang="sk">
    <meta name="keywords" content="book, library, online library">
    <meta name="description" content="Online library, so no book is forgetten">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="css/style.css" media="all">
  </head>
  <body>
    <div class="wrapper">
      
      <!-- header -->
      <header>
          
            <img src="img/logo_medium.png" alt="Logo of the company">
          
          <div id="links">
            <a href="register.html" class="button"> Register </a>
            <a href="login.html" class="button"> Login </a>
          </div>      
      </header>
      
      <!-- navigation -->
      <nav>                                        
          <ul class="cssmenu">
            <li class='active'><a href="index.html"><span>Home</span></a></li>
            <li class='last'><a href="dashboard.html"><span>Dashboard</span></a></li>           
            <li class='last'><a href="search.html"><span>Search</span></a></li>
            <li class='last'><a href="statistics.html"><span>Statistics</span></a> </li>
          </ul>  
      </nav> 
      
      <!-- content -->
      <div class="main">
        
        <aside>
          HEEEY boooks are amazing!!! music is super awesome, 
          but not the same time as reading (it doesn't make much sense) :D . 
          And the forever concerning question: paper/ hardcover books or the electronic books? 
        </aside>                           
        
        <article>
          <div id="welcome">   
          <h1>Welcome to Genovefa’s online library!</h1>
                  
          <p>This page was created to keep track of every single one of the books from Genovefa’s large and beautiful collection of books. 
          Obviously the collection is growing every year by shelves, so it is impossible to keep track of borrowed books in paper agenda 
          (also it is much more stylish to have a web application :D ).
          If you would like to borrow books and see some other „library-related“ stuff, please <br>
          <a href="register.html" class="button"> REGISTER </a> , <br> 
          Or if you want to just check if we have your favourite book you can <a href="search.html" class="button">SEARCH</a> without registration.  </p>
          </div> 
        </article>
        
      </div>
      
      <!-- footer -->
      <footer>  <p>Copyright ©Natália Rakovská 2016</p> </footer> 
    
    </div>
  </body>
</html>
