<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Genovefa's library</title>
    
    <link rel="shortcut icon" href="" >
    <meta name="author" content="Natáia Rakovská" lang="sk">
    <meta name="keywords" content="book, library, online library">
    <meta name="description" content="Online library, so no book is forgetten">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="css/style.css" media="all">
  </head>
  <body>
    <div class="wrapper">
      
      <!-- header -->
      <header>
          
            <img src="img/logo_medium.png" alt="Logo of the company">
         <!-- 
          <div class="headerLeft">
            <a href="register.html" class="button"> Register </a>
            <a href="login.html" class="button"> Login </a>
          </div>
          -->      
      </header>
      
      <!-- navigation -->
      <nav>                                        
          <ul class="cssmenu">
            <li class='last'><a href="index.html"><span>Home</span></a></li>           
            <li class='last'><a href="search.html"><span>Search</span></a></li>
            <li class='last'><a href="dashboard.html"><span>Dashboard</span></a></li>
            <li class='last'><a href="statistics.html"><span>Statistics</span></a> </li>
          </ul>  
      </nav>
      
      <!-- content -->
      <div class="main">
 <!--   <aside>
        </aside>     -->
        
        <article>
         
         <div id="registration"> 
          <h1>Registration</h1>
          <p> It is fast and free. </p>
          The fields with * are required.
          
          <form method = "post" action = "">

          <p><label>First Name: * <input name = "name" type = "text" placeholder = "First Name" required size = "25"></label></p>
          <p><label>Last Name: * <input name = "name" type = "text" placeholder = "Last Name" required size = "25"></label></p>
          <p><label>E-mail: * <input name = "email" type = "email" placeholder = "name@domain.com" required size = "25"></label></p>
          <p><label>Phone number: <input name = "phone_number" type = "tel" placeholder = "(###) ###-####" pattern = "\(\d{3}\) +\d{3}-\d{4}" size = "25"></label></p>
          <p><label>Password: * <input name = "password" type = "password" required size = "25"></label></p>
          <p><label>Confirm password: * <input name = "confirm_password" required type = "password" size = "25"></label></p>
          <p>
            <input type = "submit" value = "Submit" />
            <input type = "reset" value = "Clear" />
          </p>
          
          </form>
          
         </div>
        </article>
      </div>
      
      <!-- footer -->
      <footer>  <p>Copyright ©Natália Rakovská 2016</p> </footer> 
    
    </div>
  </body>
</html>
