<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Genovefa's library</title>
    
    <link rel="shortcut icon" href="" >
    <meta name="author" content="Natáia Rakovská" lang="sk">
    <meta name="keywords" content="book, library, online library">
    <meta name="description" content="Online library, so no book is forgetten">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="css/style.css" media="all">
    <script type="text/javascript" src="javascript/js.js"></script>
  </head>
  <body>
    <div class="wrapper">
      
      <!-- header -->
      <header>
          
          <img src="img/logo_medium.png" alt="Logo of the company">
          
          <div class="headerLeft">
            <a href="register.html" class="button"> Register </a>
            <button onclick="showLogin()">Login</button>
            
              <div id="loginSection">
                <form method = "post" action = "">   
                  <p><label>Username: <input name = "username" type = "text" placeholder = "Username" size = "25" required></label></p>
                  <p><label>Password: <input name = "password" type = "password" size = "25" required></label></p>
                  <p><button type = "submit" id="loginBtn">Login</button></p>
                </form>   
              </div>
          </div>      
      </header>
      
      <!-- navigation -->
      <nav>                                        
          <ul class="cssmenu">
            <li class='last'><a href="index.html"><span>Home</span></a></li>           
            <li class='active'><a href="search.html"><span>Search</span></a></li>
            <li class='last'><a href="dashboard.html"><span>Dashboard</span></a></li>
            <li class='last'><a href="statistics.html"><span>Statistics</span></a> </li>
          </ul>  
      </nav>
      
      <!-- content -->
      <div class="main">
        <aside>
          <p>
            Are you looking for some of these all time best selling books?
          </p>
          <p>1. <span>Don Quixote </span><br />(500 million copies sold) <br />by Miguel de Cervantes</p>
          <p>2. <span>A Tale of Two Cities </span><br />(200 million copies sold) <br />by Charles Dickens</p>
          <p>3. <span>The Lord of the Rings </span><br />(150 million copies sold) <br />by J.R.R. Tolkien</p>
        </aside>
        
        <article>
          <p>We are sorry! The book you are looking for was not found.</p>
        </article>
      </div>
      
      <!-- footer -->
      <footer>  <p>Copyright ©Natália Rakovská 2016</p> </footer> 
    
    </div>
  </body>
</html>
