<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="utf-8">
    <title>Genovefa's library</title>
    
    <link rel="shortcut icon" href="" >
    <meta name="author" content="Natáia Rakovská" lang="sk">
    <meta name="keywords" content="book, library, online library">
    <meta name="description" content="Online library, so no book is forgetten">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="css/style.css" media="all">
  </head>
  <body>
    <div class="wrapper">
      
      <!-- header -->
      <header>
          
            <img src="img/logo_medium.png" alt="Logo of the company">
          
          <div id="links">
            <a href="register.html" class="button"> Register </a>
            <a href="login.html" class="button"> Login </a>
          </div>      
      </header>
      
      <!-- navigation -->
      <nav>                                        
          <ul class="cssmenu">
            <li class='last'><a href="index.html"><span>Home</span></a></li>
            <li class='last'><a href="dashboard.html"><span>Dashboard</span></a></li>           
            <li class='active'><a href="search.html"><span>Search</span></a></li>
            <li class='last'><a href="statistics.html"><span>Statistics</span></a> </li>
          </ul>  
      </nav> 
      
      
      
      
      
  </body>
</html>