<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Genovefa's library</title>

    <meta name="author" content="Natáia Rakovská" lang="sk">
    <meta name="keywords" content="book, library, online library">
    <meta name="description" content="Online library, so no book is forgetten">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="css/style.css" media="all">
  </head>
  <body>
    <div class="wrapper">
      
     <!-- header -->
      <header>
          <img src="img/logo_medium.png" alt="Logo of the company">
          <div class="headerLeft">
            <p>You are logged in as <span>Username</span>.</p>
            <a href="index.html" class="button"> Logout </a>
          </div>               
      </header>
      
      <!-- navigation -->
      <nav>                                        
          <ul class="topnav" id="myTopnav">
            <li class='last'><a href="index.html"><span>Home</span></a></li>           
            <li class='last'><a href="search.html"><span>Search</span></a></li>
            <li class='last'><a href="dashboard.html"><span>Dashboard</span></a></li>
            <li class='active'><a href="statistics.html"><span>Statistics</span></a> </li>
            <li class="icon"><a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a></li>
          </ul>  
      </nav> 
      
      <!-- content -->
      <div class="main">
        <aside>
          <form>  
            <input type="search" name="search" placeholder="Search...">
          </form>
          <p>
            Are you looking for some of these all time best selling books?
          </p>
          <p>1. <span>Don Quixote </span><br />(500 million copies sold) <br />by Miguel de Cervantes</p>
          <p>2. <span>A Tale of Two Cities </span><br />(200 million copies sold) <br />by Charles Dickens</p>
          <p>3. <span>The Lord of the Rings </span><br />(150 million copies sold) <br />by J.R.R. Tolkien</p>
        </aside>
        
        <article>
          <div class="statistics">  
            <h1>Statistics</h1>
            <p>
              On this page you can look at our library from a more statistical point of view ;)
            </p>
            <img src="img/2015-reading-stats-infographic.png" alt="reading statistics by Novel Ecapism">
          </div>
        </article>
      </div>
      
      <!-- footer -->
      <footer>  <p>Copyright ©Natália Rakovská 2016</p> </footer> 
    
    </div>
  </body>
</html>
